/* MARK: Base styles */
:root {
  font-size: 62.5%;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  min-block-size: 100vh;
}

.container {
  width: min(calc(100% - 4rem), 72rem);
  margin-inline: auto;
}
